@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=JetBrains+Mono:wght@400;500&family=Inter:wght@300;400;500;600&display=swap'); */

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --bg: #08090d;
  --sidebar: #0d0e14;
  --surface: #111318;
  --card: #14161e;
  --border: #1c1e2a;
  --accent: #4ade80;
  --accent2: #818cf8;
  --accent3: #fb923c;
  --red: #f87171;
  --yellow: #fbbf24;
  --text: #e8eaf0;
  --muted: #6b7280;
  --sidebar-w: 240px;
}
/* 
* { margin: 0; padding: 0; box-sizing: border-box; } */
body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  display: flex;
  width: 100%;
  min-height: 100vh;
  font-size: 14px;
  overflow-x: hidden;
}



/* SCROLLBAR */
::-webkit-scrollbar { width: 4px; 
  display: none;
}
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--border); border-radius: 2px; }